<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <title>Index Page</title>
</head>

<body>
  <main class="main col-md-4 centered ">
    <form>
      <div class="form-group ">
        <label for="exampleInputEmail1">Resume Skills</label>
        <input type="text" class="form-control" id="search-skills" aria-describedby="emailHelp"
          placeholder="Resume Skills" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>

  <script>
    $(function () {
      $('#search-skills').autocomplete({
        source: function (req, res) {
          $.ajax({
            url: 'api/autocomplete/',
            dataType: 'jsonp',
            type: 'GET',
            data: req,
            success: function (data) {
              res(data);
            },
            error: function (err) {
              console.log(err.status);
            }
          });
        },

        minLength: 1,
        select: function (event, ui) {
          if (ui.items) {
            $('#search-skills').text(ui.item.label);
          }
        }
      });
    });
  </script>
</body>

</html>