<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/styles.css' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <title>Regsiter</title>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center form-row">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="col-sm-12 form-legend">
                    <h2>Register new candidate</h2>
                </div>
                <div class="col-sm-12 form-column">
                    <form action="/api/candidate/register" id="reg_form" method="post">
                        <% if(success !=''){%>
                        <div class="alert alert-success">
                            <strong>Success!</strong> <%= success %>
                        </div>
                        <% } %>

                        <% if(error !=''){%>
                        <div class="alert alert-danger">
                            <strong>Error!</strong> <%= error %>
                        </div>
                        <% } %>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="position">Position</label>
                            <input type="text" id="position" name="position" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="experience">Experience</label>
                            <input type="text" id="experience" name="experience" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="qualification">Qualification</label>
                            <input type="text" id="qualification" name="qualification" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="candidateRating">Candidate Rating</label>
                            <input type="text" id="candidateRating" name="candidateRating" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="salarys">Salary</label>
                            <input type="text" id="salary" name="salary" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" id="phone" name="phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="companiesWorked">Companies Worked</label>
                            <input type="text" id="companiesWorked" name="companiesWorked" class="form-control">
                        </div>
                        <div class="skills-form-group form-group">
                            <label for="skills">Skills</label>

                            <div class="skills-entry"> <input class="form-control" name="skills" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-add" type="button">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </span></div>
                        </div>
                        <div class="form-group">
                            <label for="interviewFeedback">Interview Feedback</label>
                            <input type="text" id="interviewFeedback" name="interviewFeedback" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="resumeURL">Resume URL</label>
                            <input type="text" id="resumeURL" name="resumeURL" class="form-control">
                        </div>
                        <input type="submit" value="Register" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $(document).on('click', '.btn-add', function (e) {
                    e.preventDefault();

                    var controlForm = $('.skills-form-group:first'),
                        currentEntry = $(this).parents('.skills-entry:first'),
                        newEntry = $(currentEntry.clone()).appendTo(controlForm);

                    newEntry.find('input').val('');
                    controlForm.find('.skills-entry:not(:last) .btn-add')
                        .removeClass('btn-add').addClass('btn-remove')
                        .removeClass('btn-success').addClass('btn-danger')
                        .html('<i class="fa fa-minus" aria-hidden="true"></i>');
                }).on('click', '.btn-remove', function (e) {
                    $(this).parents('.skills-entry:first').remove();

                    e.preventDefault();
                    return false;
                });
            });
        </script>
</body>

</html>