<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link rel="stylesheet" href="/stylesheet/loginerror.css">
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P&subset=latin-ext' rel='stylesheet'
        type='text/css'>
</head>

<body>
    <div class="wrapper">
        <p>ERROR<br /><span class="bigger flickering">404</span></p>
        <p id="info">PLEASE LOGIN TO VIEW THE PAGE</p>
    </div>
</body>

</html>