body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: #00b7ff;
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px 50px 0px;
}

.form-row {
  width: 100% !important;
}

.heading-row {
  justify-content: center !important;
  padding-top: 20px;
}

.row-list {
  width: auto !important;
}

.fa-edit,
.fa-delete {
  font-size: 15px !important;
}

.form-horizontal {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  padding: 40px;
}
